<div class="row">
  <div class="col-xs-12">
    <% if @lessons.any? %>
      <div class="row">
        <div class="col-xs-3 col-xs-push-9">
          <%= link_to t("lessons.index.new_button"), new_admin_lesson_path, class: "btn btn-danger pull-right" %>
        </div>
      </div>
      
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th><%= t("lessons.index.table.name") %></th>
            <th><%= t("lessons.index.table.total") %></th>
            <th><%= t("lessons.index.table.setting") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @lessons %>
        </tbody>
      </table>
      
      <%= will_paginate @lessons %>
    <% else %>
      <div class="alert alert-info">No result was found!</div>
    <% end %>
  </div>
</div>
