<div class="row">
  <div id="video-wrapper">
    <div id="video">
      <div id="video-container">
        <iframe src="<%= @episode.youtube_url %>" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    
    <div id="video-detail">
      <h2><%= @episode.title %></h2>
      <label>Published on <%= @episode.created_at.strftime "%d, %b %Y" %></label>
      <p><%= @episode.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% lesson = @episode.lesson %>
      <center><h3><%= lesson.name.capitalize %></h3></center>
      <table class="table table-bordered table-hover">
        <% lesson.episodes.each_with_index do |related_episode, index| %>
          <tr class="episode-outline">
            <td class="index"><%= index + 1 %></td>
            <td class="title"><%= link_to related_episode.title.capitalize, [lesson, related_episode] %></td>
            <td class="duration"><%= related_episode.duration %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <comment-area logged-in="<%= user_logged_in? %>" episode="<%= @episode.id %>"></comment-area>
  </div>
</div>
