<div class="row form-container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2><%= title %></h2>
    
    <%= form_for [:admin, @episode], html: {class: "form", multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="form-group">
        <%= f.label :lesson %>
        <%= f.select :lesson_id, Lesson.all.map { |lesson| [lesson.name, lesson.id] }, {}, { class: "form-control", autofocus: true } %>
      </div>
    
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :youtube_url %>
        <%= f.text_field :youtube_url, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :duration %>
        <%= f.text_field :duration, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", rows: 7 %>
      </div>
      
      <div class="form-group">
        <%= f.label :image_url %>
        <%= f.text_field :remote_image_url, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, class: "form-control image" %>
      </div>
      
      <div class="form-group">
        <div class="preview"><img style="display: block; width: 100%; height: 100%;" /></div>
      </div>
      
      <div class="form-group">
        <%= link_to "Back", admin_episodes_path, class: "btn btn-default pull-left" %>
        <%= f.submit @episode.new_record? ? "Save" : "Update", class: "btn btn-danger pull-right" %>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    var preview = $(".preview img");
    $(".image").change(function(e) {
      var input = $(e.currentTarget);
      var file = input[0].files[0];
      
      if (/^image\/*/.test(file.type)) {
        var reader = new FileReader();
        reader.onload = function(e) {
          image_base64 = e.target.result;
          preview.attr("src", image_base64);
        }
        
        reader.readAsDataURL(file);
      } else {
        input = $(input[0]);
        input.replaceWith(input.clone(true));
        preview.replaceWith(preview = $("<img />", {style: "display: block; width: 100%; height: 100%"}));
      }
    });
  });
</script>
