<div class="row">
  <div class="col-xs-12">
    <% if @episodes.any? %>
      <div class="row">
        <div class="col-xs-3 col-xs-push-9">
          <%= link_to t("episodes.index.new_button"), new_admin_episode_path, class: "btn btn-danger pull-right" %>
        </div>
      </div>
      
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th><%= t("episodes.index.table.title") %></th>
            <th><%= t("episodes.index.table.duration") %></th>
            <th><%= t("episodes.index.table.lesson") %></th>
            <th><%= t("episodes.index.table.setting") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @episodes %>
        </tbody>
      </table>
      
      <%= will_paginate @episodes %>
    <% else %>
      <div class="alert alert-info">No result was found!</div>
    <% end %>
  </div>
</div>
